.checkCloseble{
  float: right;
}
.showTotal{
  width: 100%;
  font-size: 20px;
  background-color: #007bff;
  text-align: center;
  text-decoration: bold;
  color: white;
  align-items: center;

}
.minimize{
  height: 200px;
}

.card {
  position: relative;
  padding: 5px;
  width: 100%;
  background-color: #f8f9fae3; /* Cor de fundo */
  border: 1px solid #ddd;    /* Borda fina */
  border-radius: 2px;       /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidade */
  overflow: auto;          /* Esconde overflow do conteúdo */
  display: flex;
  flex-direction: column;  /* Mantenha a direção como coluna */
  box-sizing: border-box;
  transition: transform 100ms ease-in-out;
}

.card-header {
  display: flex; /* Altera para flexbox */
  justify-content: space-between; /* Espaça os itens para as extremidades */
  align-items: center; /* Alinha verticalmente os itens */
}

.card:hover{
  transform: scale(1.01);
}
.card-header {
  background-color: #007bff;
  color: white;
  padding: 10px;
  font-size: 1.25rem;
  text-align: center;
}

.card-context{
  overflow: auto;
  background-color: white;
  height: 100%;
}
.bg-color-grey{
  background-color: #444;
}
