*{
  margin: 0px;
  box-sizing: border-box;
}
.content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-template-rows: 500px;
  gap: 10px;
  padding: 20px;
}
body{
  height: 100%;
  overflow: auto;
}
.checkAction{
  appearance: none;
  box-sizing: border-box;
  width: 100px;
  justify-content: center;
  border: none;
  box-shadow: 1px 1px 3px #222;
  padding: 5px;
  cursor: pointer;
  margin: 2px;
}
.checkAction:hover{
  background-color: rgb(125, 175, 250);
  color: white;
}

/* Aplica a estilização na barra de rolagem de todos os elementos */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem vertical */
  height: 8px; /* Altura da barra de rolagem horizontal */
}

/* Fundo da área de rolagem */
::-webkit-scrollbar-track {
  background: #85a0af; /* Cor do track (fundo da barra de rolagem) */
  border-radius: 10px;  /* Bordas arredondadas no track */
}

/* Estilo do "thumb" (a parte que se move) da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #5897e9; /* Cor do thumb */
  border-radius: 2px;     /* Bordas arredondadas no thumb */
  border: 1px solid #f1f1f1; /* Adiciona um espaço entre o thumb e o track */
}

/* Thumb quando estiver sendo "hovered" (com o mouse em cima) */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cor do thumb quando em hover */
}

/* Thumb quando estiver ativo (sendo arrastado) */
::-webkit-scrollbar-thumb:active {
  background-color: #333; /* Cor do thumb quando está ativo */
}

/* Adicionar estilos para navegadores que não suportam WebKit (opcional) */

.minimize{
  height: 200px;
}
